/* root */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,800;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.container{
    max-width: 1170px;
    width: 95%;
    margin: 0 auto;
}

.pb, .pt{
    padding-bottom: 50px;
    padding-top: 50px;
}

p{
    color: rgb(0 0 0 / 50%);
  }

span{
    background-color: rgba(251, 178, 68, 0.2);
    color: #FBB244;
    display: inline-block;
    border-radius: 50px;
    padding: 5px 10px;
    font-family: "open sans",sans-serif;
    font-size: 13px;
    font-weight: 600;
}

h1{
    margin: 15px 0px;
    font-size: 40px;
    color: #081158;
}
  
h3 {
    font-family: "Montserrat",sans-serif;
    margin: 10px 0px;
    font-size: 25px;
}

/* button */

input[type=button] {
    border: 1px solid #081158;
    display: inline-block;
    font-size: 14px;
    padding: 7px 15px;
    border-radius: 50px;
    background-color: #081158;
    color: #FBB244;
    cursor: pointer;
    margin: 10px 10px;
    text-transform: capitalize;
}

input[type=button]:hover{
    background-color: #fff;
    color: #081158;
}

button{
    border: 1px solid #081158;
    display: inline-block;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #081158;
    color: #fff;
    cursor: pointer;
    margin: 15px 0px;
}

button:hover{
    color: #081158;
    background-color: #fff;
    transition: .3s;
}

.btn1{
    background-color: #fff;
    color: #081158;
    padding: 10px 20px;
    margin: 0px 10px;
}

.btn1:hover{
    background-color: #081158;
    color: #fff;
}

/* header area start */
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    clear: both;
 }

/* toggle */
.checkbtn{
    font-size: 30px;
    color: #000;
    display: none;
}

#check {
    display: none;
}


/* nav */
.nav__logo img {
    width: 100%;
}
  
.nav__menu ul li {
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
    position: relative;
}
  
.nav__menu ul li a {
    color: #5c5c5c;
    text-decoration: none;
    font-size: 15px;
}

.nav__menu ul li a:hover{
    color: #081158;
}

/* drop */
.nav__menu ul ul{
    position:absolute;
    display: none;
    background: rgb(192, 191, 191);
    border-radius: 5px;
  }
  
  .nav__menu ul li:hover>ul{
    display: block;;
  }
  
  .nav__menu ul ul li{
    float: none;
    display: list-item;
    position:relative;
  }
  
  /* ==== perfect=====* */
  
  .nav-menu ul ul ul {
    top: 0%;
    left: 100%;
    background: rgb(146, 146, 146);
  }

  
/* slider */

.slide__content {
  display: flex;
  align-items: center;
}

.slide__img {
  margin: 0px 30px;
}

img {
    width: 550px;
}

/* feature */
.feature__heading {
    text-align: center;
}
  
.feature__heading__dec {
    padding: 10px 295px;
}

.feature__box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 30px 0px;
}

.feature__item {
    text-align: center;
}
  
.feature__item__dec {
    padding: 0px 33px;
}

.feature__item__icon {
    font-size: 40px;
}
  
.feature__item__title {
    padding: 10px 0px;
}

/* about */

.about__area {
    padding: 60px 0px;
}
  
.about__content {
    justify-content: space-between;
    display: flex;
}
  
.about__content__box {
    padding: 0px 90px;
}

  /* services */
.services__area {
    padding: 50px 0px;
}

.services__heading {
  text-align: center;
}
.service__box {
    border: 1px solid #efefef;
}
  
.services__icon {
    margin: 15px 15px;
    float: left;
    font-size: 50px;
}

.services__area__container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
}
  
.services__area__box {
    border: 1px solid #efefef;
}
  
.services__area__icon {
    margin: 15px 15px;
    float: left;
    font-size: 50px;
}
  
.services__area__text {
    margin: 5px 100px;
}

/* testimonials */
.testimonials__area {
    background-color: #f8f9fa;
    padding: 60px 0px;
}
  
.testimonials__heading {
    text-align: center;
}

.testimonials__heading__dec {
    padding: 30px 116px;
}

.testimonial__box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.testimonial__name__title {
    padding: 0px 70px;}
  
.testimonial__box__container {
    border: 1px solid #b5b5b5;
    padding: 40px 25px;
    border-radius: 10px;
}
  
.testimonial__author__img {
    float: left;
    padding: 10px 0px;
}
.testimonial__author__img img {
    width: 50px;
    border-radius: 50%;
}

/*footer area  */
.footer__area__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

.footer__dec {
    text-align: center;
    padding: 100px 0px;
}

.footer__area__social {
    padding: 20px 0px;
}

.footer__area__social__link {
    font-size: 20px;
    padding: 5px 10px;
    color: #fff;
    width: 35px;
    height: 35px;
    background: #081158;
    border-radius: 100%;
    display: inline-block;
}

.footer__area__title h3 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #000;
}

.footer__area__item li {
    list-style: none;
    line-height: 30px;
}